/* 加载基础样式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 定义css变量 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 暗黑模式支持 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* 全局背景 */
/* body {

} */




/* 自定义 Tailwind 工具类 */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
